.site-logo{
    height: 4rem;
    transition: 0.5s;
    &:hover{
        transform: rotate(360deg);
    }
}

.header-title{
    font-size: 2rem;
    animation: soldanGelenYazi 1s;
    
}

.header-subtitle{
    font-size: 1.5rem;
    margin-top: .2rem;
    margin-bottom: 1.5rem;
    animation: sagdanGelenYazi 1s;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: $main-font-color;
    border-radius: 100000px;
    padding: .25rem 1rem;
    outline: none;
    border:none;
    cursor: pointer;
    
    &:hover{
        background-color: lighten($main-font-color,10);
    }
}

.icon-asagi{
    position: absolute;
    width: 2.5rem;
    bottom: 1rem;
    animation: ortayaCik2 0.8s alternate infinite;
}

.program-card{
    text-align: center;
    padding: 1rem;
    margin: .5rem 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    color: black;
    transition: .5s ease-in-out;
    flex: 1;

    &:hover{
        transform: scale(1.1);
    }
    
    &--bc{
        background-image: linear-gradient(
            to right bottom,
            rgba(white,0.7),
            rgba(white,0.7)),
         url('img/program.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__list{
        list-style: none;
        font-family: 'Baloo Bhaijaan 2', cursive;
    }
}

.form{
    max-width: 900px;
    margin: 0 auto;

    &-label{
        color: $main-font-color;
        font-weight: bold;
        display: block;
    }

    &-input{
        width: 100%;
        margin-top: .25rem;
        margin-bottom: .75rem;
        outline: none;
        border: 1px solid $main-color;
        border-radius: .3rem;
        padding: .5rem;
        color: inherit;
        resize: vertical;
        max-height: 150px;
        
        &:hover, &:focus{
            border-color: $main-font-color;
              
        }
    }


}

.btn-container{
    text-align: right;
}

.btn-kare{
    font-size: 1.2rem;
    padding: .5rem 1rem;
    
    &:hover{
        transform: scale(1.1);
        transition: .7s;
    }
}